/* GENERAL CSS */
html{
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.section-intro {
    margin-bottom: 40px;
}

.captionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerStyle{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 12px 20px rgba(255, 255, 255, 0.2); */
    padding: 20px;
}





/* BACKGROUND PHOTOS STYLE*/
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    opacity: 0.5;
    z-index: -1;
}


.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}






/* LANDING PAGE CSS */
.mainHead{
    font-weight: 900;
}

.picture-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background-image: url(../website_images/landingimage.jpg);
}

#paymentPlans{
    background-image: url(../website_images/finance.jpg);
}

h1{
    font-weight: bold;
    font-size: 2.8rem;
}







/* NAVBAR CSS */
.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.navChange{
    background-color:rgb(153, 147, 147);
    opacity: 0.9;
}

.navbar-brand{
    color: white;
    transition: all 0.4s ease;
    font-size: 2rem;
}

.brandChange{
    color: black;
}

.nav-link {
    text-decoration: none;
    transition: all 0.4s ease;
    color: rgb(255, 255, 255);
}

.navlinkChange{
    color: black;
}

.nav-link:hover, .navbar-brand:hover{
    color: rgb(32, 32, 32);
    transform: scale(1.05);
}

.dropdown-item:hover{
    color: white;
    background-color: black;
}

#subscribeNav{
    background-color: rgb(104, 169, 245);
    color: black;
    border-radius: 20px;
}

.darkBtn{
    border: none;
    background-color: transparent;
}

#toggleDark{
    font-size: 1.5rem;
    margin-left: 20px;
    cursor: pointer;
    color: white;
}

body.darkMode{
    background-color: rgb(41, 39, 39);
    color: white;

}








/* BUTTONS */
.btn-main{
    text-decoration: none;
    background-color: rgb(104, 169, 245);
    opacity: 1;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: all 0.6s ease;
}

.btn-main:hover{
    color: black;
    transform: scale(1.1);
}

.linkProduct{
    padding: 10px;
    color: black;
    background-color: rgb(104, 169, 245);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.6s ease;
}

.linkProduct:hover{
    padding: 8px;
    color: black;
    transform: scale(1.1);
}


#viewMore{
    background-color: rgb(104, 169, 245);
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.6s ease;
}
#viewMore:hover{
    color: black;
    transform: scale(1.1);
}

.iconSmall{
    font-size: 1.4rem;
}

.iconBig{
    font-size: 10rem;
}








/* ABOUT US CSS */
.iconsContainer{
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}









/* CUSTOMER REVIEWS CSS */
.reviews-section{
    background: rgb(41, 39, 39);
    width: 100%;
    height: auto;
    padding: 20px;
}

.card{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
    color: black !important;
}

.fa-star{
    color: gray;
    text-decoration: none;

}

.checked{
    color: black;
    text-decoration: none;
}








/* SUBSCRIBE CSS */
.special{
    font-weight: bold;
    font-size: 5rem;
}

#emailAddress{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    position: relative;
}

#emailAddress:hover{
    border: 2px solid black;
}

#subscribeBtn{
    margin: 20px auto;
    width: 160px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: rgb(104, 169, 245);
    transition: all 0.6s ease;
}

#subscribeBtn:hover{
    color: black;
    transform: scale(1.1);
}





/* FOOTER CSS */
footer a{
    color: white !important;
    text-decoration: none;
    font-size: 0.9rem;
}

footer a:hover{
    color: rgb(0, 0, 0) !important;
}

#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(104, 169, 245); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 40%; 
    font-size: 1.7rem; 
  }
  
  #topBtn:hover {
    opacity: 0.7;

  }





  

/* MEDIA QUERY FOR MOBILE DEVICES */
@media screen and (max-width: 480px){
    #navbarNav{
        text-align: center;
        width: 100%;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: rgba(90, 86, 86, 0.548);
        font-size: 1.2rem;
    }

    #subscribeNav{
        width: 100px;
        margin: 0 auto;
    }


    .productContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .linkProduct{
        display: flex;
        align-self: center;
        margin-bottom: 50px;
    }

    .iconsContainer{
        display: flex;
        flex-direction: column;
    }

}


@media screen and (min-width:481px) and (max-width: 991px){
    #navbarNav{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: rgba(90, 86, 86, 0.548);
        font-size: 1.2rem;
    }

    #subscribeNav{
        width: 100px;
        margin: 0 auto;
    }
}



/* MEDIA QUERY FOR IPADS/TABLETS */
@media screen and (min-width: 481px) and (max-width:768px){

    .productContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .linkProduct{
        display: flex;
        align-self: center;
        margin-bottom: 50px;
    }

    .iconsContainer{
        display: flex;
        flex-direction: column;
    }

} 








/* SPECIFIC QUERY FOR CARDS IN CAROUSEL */
@media screen and (min-width: 568px){
    .card{
        margin: 0.5em;
        width: calc(100%/4);
    }
}

@media screen and (max-width: 567px){
    .card:not(:first-child){
        display: none;

    }
}